
<div id="choose-view" class="view" style="display:none;">
    <table id="choices"></table>
</div>

<div id="handle-input-view" class="view" style="display:none;">
    <h1>Welcome</h1>
    <label>Enter your Twitter handle</label>
    <input type="text" id="handle"/>
    <input type="button" id="submit-handle" value="Submit" />
</div>

<div id="waiting-view" class="view" style="display:none;">
    <h1>Hang tight...waiting for second player</h1>
</div>

<div id="game-view" class="view" style="display:none;">
    <div class="row">
        <div class="col-md-8">
            <table id="my-grid"></table>
            <ul id="my-chat-messages"></ul>
            <input id="my-chat-input" type="text" />
            <button id="chat-submit">Send</button>
            <button id="question-submit">Ask</button>
            <div id="handle-to-guess"></div>
        </div>
        <div class="col-md-4">
            <h4>Question Log</h4>
            <ul id="question-history">
            </ul>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- My home made CSS -->
<link rel="stylesheet" href="/css/custom.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/js/client.js"></script>