
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div id="choose-view" class="view" style="display:none;">
    <div id="choices"></div>
</div>

<div id="handle-input-view" class="view" style="display:none;">
    
    <div class="handle-input">
    <span class="twitter-logo"><i class="fa fa-twitter"></i></span>
    <span>@<input type="text" autocomplete="off" autofocus/><span class="trailing-question-mark">?</span></span>
    </div>
</div>

<div id="waiting-view" class="view" style="display:none;">
    <div class="waiting">
        <div class="row">
            <span class="waiting-main-title col-md-8" style="display:none;">Hang tight</span><br />
        </div>
        <div class="row">
            <span class="waiting-sub-title col-md-10 col-md-offset-2" style="display:none;">searching for another player</span>
        </div>
        <div style="height:20px;"></div>
        <div class="row">
            <object class="col-md-2 col-md-offset-7 loading" type="image/svg+xml" data="/images/loading.svg" style="display:none;"></object>
        </div>
    </div>
</div>

<div id="game-view" class="view" style="display:none;">
    <div class="row">
        <div class="col-md-12">
         <div class="wrap">
            <div id="my-grid"></div>
         </div>
        </div>
    </div>
    <div class="row stuck no-pad">
        <div class="col-md-10 col-sm-10 no-padding">
            <div class="my-chat-messages"></div>
            <input id="my-chat-input" type="text" />
            <button id="question-submit" class="btn btn-primary">Ask</button>
            <button id="chat-submit" class="btn btn-secondary">Send</button>
            <div id="handle-to-guess" style="display:none;">
                Guess if the winning card is<br/>
                <span class="handle" ></span>?<br/>
                <button id="guess-submit" class="btn btn-primary">Guess</button>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 no-padding">

            <div class="chosen-image"></div>

        </div>
    </div>
    <div class="row extra-height">
    </div>
</div>

<div class="view" id="you-win" style="display:none;">
    <h1>YOU WIN</h1>
    <div class="questions-review"></div>
</div>

<div class="view" id="you-lose" style="display:none;">
    <h1>YOU LOSE</h1>
    <div class="questions-review"></div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- My home made CSS -->
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/tint.css">
<link href="/css/hover-min.css" rel="stylesheet" media="all">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/js/auto-resize.js"></script>
<!--<script src="/js/prefixfree.min.js"></script>-->
<script src="/js/client.js"></script>