span.handle {
    font-size:2em;
    color:#4099FF;
}

#handle-input-view {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* Firefox */
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* Safari / Chrome */
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body {
    background-color:#6EFF70;
}

.handle-input {
    height:800px;
    font-size:100px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    line-height: 400px;   
}

.handle-input input {
    height: 140px;
    line-height: 70px; 
    vertical-align: middle;
    background-color: transparent;
    border: 0px solid;
}

.handle-input input:focus {
    outline:none;
}