span.handle {
    font-size:2em;
    color:#4099FF;
}

#handle-input-view {
    animation: fadein .5s;
    -moz-animation: fadein .5s; /* Firefox */
    -webkit-animation: fadein .5s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* Firefox */
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* Safari / Chrome */
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body, html {
    background-color:#6EFF70;
    margin: 0px 0px 0px 0px;
    width:100%;
}

.handle-input {
    height:800px;
    font-size:7em;
    color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    line-height: 400px;   
}

.hillary-clinton {
    text-align: center;
}

.handle-input input {
    height: 140px;
    line-height: 70px; 
    vertical-align: middle;
    background-color: transparent;
    border: 0px solid;
}

.handle-input input:focus {
    outline:none;
}

.done {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .25s, opacity .25s linear;
}

.waiting {
    color:#FFFFFF;
    text-align:center;
}

.waiting-main-title {
    font-size:100px;
}
.waiting-sub-title {
    font-size:60px;
}

.imageWrap {
    position:relative;
}

.imageCaption {
  position: absolute;
  top: 120;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display:inline-block;
  vertical-align: middle;
  line-height:normal;
  visibility: hidden;
  opacity: 0;
  font-size:2em;
}

.imageWrap:hover .imageCaption {
  visibility: visible;
  opacity: 1;
  display:inline-block;
}

.hvr-float {
  transform: translateX(0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

.hvr-bounce-in-right {
  transform: translateX(0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-bounce-in-right:hover,
.hvr-bounce-in-right:focus,
.hvr-bounce-in-right:active {
  transform: translateX(20px);
}

.eliminated {
    -webkit-transition: none !important;
    transition: none !important;
}

.eliminated:before { 
    background: rgba(0,0,0, 0.5);
 }
 
 .view {
     width:100%;
 }
 
 .stuck {
    position: fixed;
    background-color:#6EFF70;
    width:100%;
    height:33%;
    bottom:0;
}

.chosen-image {
    text-align:center;
    width:100%;
}

.chosen-image img {
    width:100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.extra-height {
    height:33%;
}

.my-chat-messages {
    margin-top:.5em;
    height:70%;
    overflow-y:scroll;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:2em;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.chat {
    text-align:center;
}

.question-history-wrapper {
    overflow-y: scroll;
    height: 100%;
    overflow-x:hidden;
}

.question-history {
    font-size:2em;
    background-color:aqua;
    padding:0;
    width:100%;
    word-wrap:break-word;
}

.question-history-entry {
    width:100%;
    border-radius:.5em;
}

.question-history .logged-answer {
    background-color:red;
}

.question-history .logged-question {
    background-color:yellow;
    width:100%;
}