article, aside, figure, footer, header, hgroup, 
menu, nav, section { display: block; margin: 0; }

img { display: inline-block; }

.eliminated {
  position: relative;
  cursor: pointer;
}

.eliminated:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
}